<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h1>Board Read</h1>
        <label>카테고리</label>
        <input type="text" name="cat_cd" th:value="${dto?.cat_cd}" readonly>
    <div>
        <label>타이틀</label>
        <input type="text" name="b_title" th:value="${dto?.b_title}" readonly>
    </div>

    <div>
        <label>작성내용</label>
        <input type="text" rows="5" name="b_content" th:value="${dto?.b_content}" readonly>
    </div>

    <div>
        <label>작성자</label>
        <input type="text" name="u_id" th:value="${dto?.u_id}" readonly>
    </div>

    <div>
        <label>작성일</label>
        <input type="text" name="b_dtt" th:value="${#temporals.format(dto?.b_dtt, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>

<!--    <input type="hidden" id="joinBnum" th:value="${#temporals.format(dto.b_dtt, 'yyMMddHHmmss')}" >-->

    <a th:href="@{/board/modify(b_dtt= ${#temporals.format(dto?.b_dtt, 'yy/MM/dd HH:mm:ss.SSS')},
    page=${page?.page},
    join=${#temporals.format(dto?.b_dtt, 'yyMMddHHmmss')})}">
        <button type="button">수정</button>
    </a>

    <a th:href="@{/board/list(page=${page?.page})}">
        <button type="button">목록</button>
    </a>
    <form th:action="@{/board/remove(b_dtt= ${#temporals.format(dto?.b_dtt, 'yy/MM/dd HH:mm:ss.SSS')},page=${page?.page})}" th:method="post">
        <button type="submit">삭제</button>
    </form>

    <form th:action="@{/replies/regist/(page=${page?.page})}" th:method="post">
        <div>
            <input type="text" placeholder="댓글작성" name="r_content">
            <input type="hidden" name="b_no" th:value="${#temporals.format(dto?.b_dtt, 'yyMMddHHmmss')}" >
            <input type="hidden" name="b_num" th:value="${#temporals.format(dto?.b_dtt, 'yy/MM/dd HH:mm:ss.SSS')}" >
            <div>
                <button type="submit" class="replyBtn">댓글달기</button>
            </div>
        </div>
    </form>
    <div>
        <h1>댓글</h1>
    </div>
    <div>
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>등록일</th>
        </tr>
    </div>
    <tr th:each="reply : ${replyList}">
        <div>
            <th>[[${reply.r_writer}]]</th>
            <th>[[${reply.r_content}]]</th>
            <th>[[${reply.r_dtt}]]</th>
            <form th:action="@{/replies/remove/(r_dtt=${#temporals.format(reply?.r_dtt, 'yy/MM/dd HH:mm:ss.SSS')},
            b_dtt=${#temporals.format(dto?.b_dtt, 'yy/MM/dd HH:mm:ss.SSS')},
            page=${page?.page}, join=${reply?.b_no})}" th:method="post">
                <button type="submit">삭제</button>
            </form>
            <a th:href="@{/replies/modifyRepl/(r_dtt=${#temporals.format(reply?.r_dtt, 'yy/MM/dd HH:mm:ss.SSS')})}">
                <button type="submit">수정</button>
            </a>
        </div>
    </tr>

</th:block>
